{# class_header.j2 - Generates a Python class definition #}
{% if decorator %}@{{ decorator }}
{% endif %}class {{ name }}{% if bases %}({{ bases | join(', ') }}){% endif %}:
    """{{ docstring }}"""
